<div class="inputArea">
    <label class="inputField">
        <span>First Name</span>
        <input [(ngModel)]="firstName" type="text">
    </label>
    <label class="inputField">
        <span>Last Name</span>
        <input [(ngModel)]="lastName" type="text">
    </label>
    <button class="myButton" (click)="addContact()">Add me!</button>
</div>
<div *ngIf="error" class="invalidContact">
    Please fill in at least one field
</div>
<div *ngIf="newContact">
    Hooray! You just successfully added this new contact!
    <app-contact-items [contact]="newContact"></app-contact-items>
</div>
