<div>
    <div>
        Welcome to 1-801-CONTACTS where you can make up a list of people you 'know'. If you want to edit or delete a
        contact, please do so from either the Get All Contacts or Find a Contact section. You can even do that from the
        Add a Contact section, although I'm not sure why you would delete a contact immediately after creating it...
    </div>
    <div class="jeanExplained">
        This is an example of JEAN stack coding, a variation on the MEAN stack, but there's no database right now so the
        contacts are stored in a JSON file, hence the J.
    </div>
    <div class="sponsor">
        <div class="sponsorContainer">
            <div class="sponsorTitle">E is for Express</div>
            <div class="eImage"></div>
        </div>
        <div class="sponsorContainer">
            <div class="sponsorTitle">A is for Angular (specifically 4.0)</div>
            <div class="aImage"></div>
        </div>
        <div class="sponsorContainer">
            <div class="sponsorTitle">N is for Node</div>
            <div class="nImage"></div>
        </div>
    </div>
</div>
