<div class="content">
    <div class="title">
        <div class="titleImage"></div>
        <div class="presentDiv">Presents</div>
    </div>
    <nav class="nav-bar">
        <a routerLink="">
            {{subtitle}}
        </a>
        <div class="nav-items">
            <a routerLink="/fullList">Get All Contacts</a>
            <a routerLink="/findContact">Find a Contact</a>
            <a routerLink="/addContact">Add a Contact</a>
        </div>
    </nav>
    <div class="routeContainer">
        <router-outlet></router-outlet>
    </div>
</div>
